<!-- historico_movimentacoes.html -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Tipo de Movimentação</th>
            <th>Quantidade</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for movimentacao in movimentacoes %}
        <tr>
            <td>{{ movimentacao.produto.nome }}</td>
            <td>{{ movimentacao.tipo }}</td>
            <td>{{ movimentacao.quantidade }}</td>
            <td>{{ movimentacao.data_movimentacao.strftime('%d/%m/%Y %H:%M') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>